.container {
  width: 98%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.table {
  margin-top: 50px;
  height: calc(100vh - 80px);
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
  
}

.table_header{
  width: 100%;
  display: flex;

  background-color: #6e2499;
  min-height: 60px;
  max-height: 60px;
  color : #cecece;
  font-weight: 700;
  letter-spacing: 0.8px;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.table_header_title{
  width: 20%;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.table_list_wrapper{
  padding-top: 10px;
  height: calc(100vh- 200px);
  overflow-y: scroll;
  background:  linear-gradient(to top left,#857af3 ,#3465e0  );

  padding-bottom: 30px;
}


.table_list_wrapper::-webkit-scrollbar {
  width: 12px;
}

.table_list_wrapper::-webkit-scrollbar-track {
  background: #f1f1f15d; 
}
 
.table_list_wrapper::-webkit-scrollbar-thumb {
  background: #6e2499; 
}

.table_list_wrapper::-webkit-scrollbar-thumb:hover {
  background: #450a68; 
}

@media  (max-width : 1000px) {
.table_header_title{
  font-size: 18px;
}
}
@media  (max-width : 600px) {
.table_header_title{
  font-size: 16px;
}
}
.loader_wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.loader {
  border: 16px solid #3465e0; 
  border-top: 16px solid #6e2499; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.load_more_wrapper{
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
}

.load_more{
    border: none;
    background-color: #6e2499;
    color: #e2e2e2;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
    font-weight: bold;
    font-size: 20px;
}
.load_more:hover{
    background-color: #e2e2e2;
    color: #6e2499;
}

.loading_more{
   border: 8px solid #f2f2f2;
  border-top: 8px solid #6e2499;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: loader 2s linear infinite;
}